<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bandera1.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,375},{122,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,124}}</string>
				<key>sourceSize</key>
				<string>{122,124}</string>
			</dict>

			<key>bandera10.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{120,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,124}}</string>
				<key>sourceSize</key>
				<string>{120,124}</string>
			</dict>

			<key>bandera2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,124}}</string>
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>

			<key>bandera3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,124}}</string>
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>

			<key>bandera4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,125},{124,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,124}}</string>
				<key>sourceSize</key>
				<string>{124,124}</string>
			</dict>

			<key>bandera5.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{123,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,124}}</string>
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>

			<key>bandera6.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,250},{123,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,124}}</string>
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>

			<key>bandera7.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,125},{123,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,124}}</string>
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>

			<key>bandera8.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,375},{123,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,124}}</string>
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>

			<key>bandera9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{123,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,124}}</string>
				<key>sourceSize</key>
				<string>{123,124}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>bandera.png</string>
			</dict>
		</dict>
</plist>